extends layout
include base-mixins
include material-mixins
include elf-fire-materials
include card-mixins

block content

    +menuButtons
    div

        #signer
            +signInCard('Google Login', 'Status')
        #baseButtons(style="display:none")
            +baseButtons
        #pres(style="display:none")
            +presidentInput
            +presidentButtons
        #user(style="display:none")
            +userInput
        #server(style="display:none")
            +serverButtons
            +userData

    script(src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")