doctype html
html
    head
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            title= title

            script(src="bower_components/jquery/dist/jquery.js")

            // Material
            link(rel="stylesheet", href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css")
            link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

            // Firebase
            script(defer='', src='https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js')
            script(defer='', src='https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js')
            script(defer='', src='https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js')

            // Elvenware
            //link(rel='stylesheet', href='/stylesheets/style.css')
            script(src="javascripts/control.js")
            script(src="javascripts/elven-fire-login.js")
            script(src="javascripts/elven-fire-data.js")
    body
            block content